.login-header {
    --shadow-color: #d0d0d0;
    font-size: 120px;
    text-align: center;
    text-shadow: -3px -3px 0 var(--shadow-color), 3px -3px 0 var(--shadow-color),
    -3px 3px 0 var(--shadow-color), 3px 3px 0 var(--shadow-color);
    color: #000000;
    border-radius: var(--border-radius);
    border: #000000 solid 3px;
    background: #F8E3E2;
    padding: 20px;

}

.center-input-page {
    display: flex;
    justify-content: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-radius: var(--border-radius);
    border: #000000 solid 3px;
    width: 80%;
    margin-top: 2em;
    background: #fbf7f0;
    margin-bottom: 2em;
}

.login_form_buttons {
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
}

.login_label {
    font-size: 1.5em;
    font-weight: bold;
    padding: 7px;
}

.input {
    height: 50px;
    font-size: 1em;
    padding-left: 10px;
    margin: 0.5%;
}

.button {
    width: 40%;
    height: 200%;
}
